<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="temp.dao.ScoreMapper">
  <resultMap id="BaseResultMap" type="temp.model.Score">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="score_subject_id" jdbcType="VARCHAR" property="scoreSubjectId" />
    <result column="score_student_id" jdbcType="VARCHAR" property="scoreStudentId" />
    <result column="score_year" jdbcType="VARCHAR" property="scoreYear" />
    <result column="score_semester" jdbcType="VARCHAR" property="scoreSemester" />
    <result column="score_achievement" jdbcType="DECIMAL" property="scoreAchievement" />
    <result column="score_bathch" jdbcType="INTEGER" property="scoreBathch" />
    <result column="score_status" jdbcType="INTEGER" property="scoreStatus" />
  </resultMap>
  <sql id="Base_Column_List">
    id, score_subject_id, score_student_id, score_year, score_semester, score_achievement, 
    score_bathch, score_status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from score
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from score
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="temp.model.Score">
    insert into score (id, score_subject_id, score_student_id, 
      score_year, score_semester, score_achievement, 
      score_bathch, score_status)
    values (#{id,jdbcType=VARCHAR}, #{scoreSubjectId,jdbcType=VARCHAR}, #{scoreStudentId,jdbcType=VARCHAR}, 
      #{scoreYear,jdbcType=VARCHAR}, #{scoreSemester,jdbcType=VARCHAR}, #{scoreAchievement,jdbcType=DECIMAL}, 
      #{scoreBathch,jdbcType=INTEGER}, #{scoreStatus,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="temp.model.Score">
    insert into score
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="scoreSubjectId != null">
        score_subject_id,
      </if>
      <if test="scoreStudentId != null">
        score_student_id,
      </if>
      <if test="scoreYear != null">
        score_year,
      </if>
      <if test="scoreSemester != null">
        score_semester,
      </if>
      <if test="scoreAchievement != null">
        score_achievement,
      </if>
      <if test="scoreBathch != null">
        score_bathch,
      </if>
      <if test="scoreStatus != null">
        score_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="scoreSubjectId != null">
        #{scoreSubjectId,jdbcType=VARCHAR},
      </if>
      <if test="scoreStudentId != null">
        #{scoreStudentId,jdbcType=VARCHAR},
      </if>
      <if test="scoreYear != null">
        #{scoreYear,jdbcType=VARCHAR},
      </if>
      <if test="scoreSemester != null">
        #{scoreSemester,jdbcType=VARCHAR},
      </if>
      <if test="scoreAchievement != null">
        #{scoreAchievement,jdbcType=DECIMAL},
      </if>
      <if test="scoreBathch != null">
        #{scoreBathch,jdbcType=INTEGER},
      </if>
      <if test="scoreStatus != null">
        #{scoreStatus,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="temp.model.Score">
    update score
    <set>
      <if test="scoreSubjectId != null">
        score_subject_id = #{scoreSubjectId,jdbcType=VARCHAR},
      </if>
      <if test="scoreStudentId != null">
        score_student_id = #{scoreStudentId,jdbcType=VARCHAR},
      </if>
      <if test="scoreYear != null">
        score_year = #{scoreYear,jdbcType=VARCHAR},
      </if>
      <if test="scoreSemester != null">
        score_semester = #{scoreSemester,jdbcType=VARCHAR},
      </if>
      <if test="scoreAchievement != null">
        score_achievement = #{scoreAchievement,jdbcType=DECIMAL},
      </if>
      <if test="scoreBathch != null">
        score_bathch = #{scoreBathch,jdbcType=INTEGER},
      </if>
      <if test="scoreStatus != null">
        score_status = #{scoreStatus,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="temp.model.Score">
    update score
    set score_subject_id = #{scoreSubjectId,jdbcType=VARCHAR},
      score_student_id = #{scoreStudentId,jdbcType=VARCHAR},
      score_year = #{scoreYear,jdbcType=VARCHAR},
      score_semester = #{scoreSemester,jdbcType=VARCHAR},
      score_achievement = #{scoreAchievement,jdbcType=DECIMAL},
      score_bathch = #{scoreBathch,jdbcType=INTEGER},
      score_status = #{scoreStatus,jdbcType=INTEGER}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>