<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jwxt.dao.sc.ScMenuMapper">
    <resultMap id="BaseResultMap" type="com.jwxt.model.sc.ScMenu">
        <id column="menu_id" property="menuId" jdbcType="VARCHAR"/>
        <result column="p_id" property="pId" jdbcType="VARCHAR"/>
        <result column="anthorty_name" property="anthortyName" jdbcType="VARCHAR"/>
        <result column="anthorty_desc" property="anthortyDesc" jdbcType="VARCHAR"/>
        <result column="anthorty_url" property="anthortyUrl" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
        menu_id, p_id, anthorty_name, anthorty_desc, anthorty_url, create_time
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from sys_menu
        where menu_id = #{menuId,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete from sys_menu
        where menu_id = #{menuId,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="com.jwxt.model.sc.ScMenu">
        insert into sys_menu (menu_id, p_id, anthorty_name,
                              anthorty_desc, anthorty_url, create_time
        )
        values (#{menuId,jdbcType=VARCHAR}, #{pId,jdbcType=VARCHAR}, #{anthortyName,jdbcType=VARCHAR},
                #{anthortyDesc,jdbcType=VARCHAR}, #{anthortyUrl,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}
        )
    </insert>
    <insert id="insertSelective" parameterType="com.jwxt.model.sc.ScMenu">
        insert into sys_menu
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="menuId != null">
                menu_id,
            </if>
            <if test="pId != null">
                p_id,
            </if>
            <if test="anthortyName != null">
                anthorty_name,
            </if>
            <if test="anthortyDesc != null">
                anthorty_desc,
            </if>
            <if test="anthortyUrl != null">
                anthorty_url,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="menuId != null">
                #{menuId,jdbcType=VARCHAR},
            </if>
            <if test="pId != null">
                #{pId,jdbcType=VARCHAR},
            </if>
            <if test="anthortyName != null">
                #{anthortyName,jdbcType=VARCHAR},
            </if>
            <if test="anthortyDesc != null">
                #{anthortyDesc,jdbcType=VARCHAR},
            </if>
            <if test="anthortyUrl != null">
                #{anthortyUrl,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.jwxt.model.sc.ScMenu">
        update sys_menu
        <set>
            <if test="pId != null">
                p_id = #{pId,jdbcType=VARCHAR},
            </if>
            <if test="anthortyName != null">
                anthorty_name = #{anthortyName,jdbcType=VARCHAR},
            </if>
            <if test="anthortyDesc != null">
                anthorty_desc = #{anthortyDesc,jdbcType=VARCHAR},
            </if>
            <if test="anthortyUrl != null">
                anthorty_url = #{anthortyUrl,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where menu_id = #{menuId,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.jwxt.model.sc.ScMenu">
        update sys_menu
        set p_id          = #{pId,jdbcType=VARCHAR},
            anthorty_name = #{anthortyName,jdbcType=VARCHAR},
            anthorty_desc = #{anthortyDesc,jdbcType=VARCHAR},
            anthorty_url  = #{anthortyUrl,jdbcType=VARCHAR},
            create_time   = #{createTime,jdbcType=TIMESTAMP}
        where menu_id = #{menuId,jdbcType=VARCHAR}
    </update>
    <select id="queryAllMenu" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_menu

    </select>
    <select id="queryAllMenuXZ" resultMap="BaseResultMap" parameterType="java.lang.String">
        SELECT
            sys_menu.menu_id,
            sys_menu.p_id,
            sys_menu.anthorty_name,
            sys_menu.anthorty_desc,
            sys_menu.anthorty_url,
            sys_menu.create_time
        FROM
            sys_role_menu
            INNER JOIN sys_menu ON
                                    sys_role_menu.menu_id = sys_menu.menu_id
        where
            role_id =
            #{roleId,jdbcType=VARCHAR}
        ORDER BY create_time ASC
    </select>

    <select id="getUserMenu" parameterType="java.lang.String" resultMap="BaseResultMap">
        SELECT DISTINCT
            sys_menu.menu_id,
            sys_menu.p_id,
            sys_menu.anthorty_name,
            sys_menu.anthorty_desc,
            sys_menu.anthorty_url,
            sys_menu.create_time
        FROM sys_user
            JOIN sys_role_menu ON sys_role_menu.role_id = sys_user.user_charactor
            JOIN sys_menu ON sys_menu.menu_id = sys_role_menu.menu_id
        WHERE 1 = 1
              AND sys_user.user_id = #{userId, jdbcType=VARCHAR}
              AND sys_menu.p_id = 'root';
    </select>

    <select id="listKidMenuByMenuIdAndUserId" resultMap="BaseResultMap">
        SELECT DISTINCT
            sys_menu.menu_id,
            sys_menu.p_id,
            sys_menu.anthorty_name,
            sys_menu.anthorty_desc,
            sys_menu.anthorty_url,
            sys_menu.create_time
        FROM sys_user
            JOIN sys_role_menu ON sys_role_menu.role_id = sys_user.user_charactor
            JOIN sys_menu ON sys_menu.menu_id = sys_role_menu.menu_id
        WHERE 1 = 1
            AND sys_user.user_id = #{0,jdbcType=VARCHAR}
            AND sys_menu.p_id = #{1,jdbcType=VARCHAR};
    </select>

</mapper>